<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Test10000</key>
			<dict>
				<key>frame</key>
				<string>{{20,20},{231,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,291}}</string>
				<key>sourceSize</key>
				<string>{231,291}</string>
			</dict>
			<key>Test10001</key>
			<dict>
				<key>frame</key>
				<string>{{20,331},{231,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,291}}</string>
				<key>sourceSize</key>
				<string>{231,291}</string>
			</dict>
			<key>Test10002</key>
			<dict>
				<key>frame</key>
				<string>{{20,642},{231,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,291}}</string>
				<key>sourceSize</key>
				<string>{231,291}</string>
			</dict>
			<key>Test10003</key>
			<dict>
				<key>frame</key>
				<string>{{271,20},{231,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,291}}</string>
				<key>sourceSize</key>
				<string>{231,291}</string>
			</dict>
			<key>Test10004</key>
			<dict>
				<key>frame</key>
				<string>{{522,20},{231,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,291}}</string>
				<key>sourceSize</key>
				<string>{231,291}</string>
			</dict>
			<key>Test10005</key>
			<dict>
				<key>frame</key>
				<string>{{773,20},{231,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,291}}</string>
				<key>sourceSize</key>
				<string>{231,291}</string>
			</dict>
			<key>Test10006</key>
			<dict>
				<key>frame</key>
				<string>{{271,331},{231,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,291}}</string>
				<key>sourceSize</key>
				<string>{231,291}</string>
			</dict>
			<key>Test10007</key>
			<dict>
				<key>frame</key>
				<string>{{271,642},{231,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,291}}</string>
				<key>sourceSize</key>
				<string>{231,291}</string>
			</dict>
			<key>Test10008</key>
			<dict>
				<key>frame</key>
				<string>{{522,331},{231,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,291}}</string>
				<key>sourceSize</key>
				<string>{231,291}</string>
			</dict>
			<key>Test10009</key>
			<dict>
				<key>frame</key>
				<string>{{773,331},{231,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,291}}</string>
				<key>sourceSize</key>
				<string>{231,291}</string>
			</dict>
			<key>Test10010</key>
			<dict>
				<key>frame</key>
				<string>{{522,642},{231,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,291}}</string>
				<key>sourceSize</key>
				<string>{231,291}</string>
			</dict>
			<key>Test10011</key>
			<dict>
				<key>frame</key>
				<string>{{773,642},{231,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,291}}</string>
				<key>sourceSize</key>
				<string>{231,291}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Napalm_ver4.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>Napalm_ver4.png</string>
		</dict>
	</dict>
</plist>
